<mat-toolbar color="primary">
  <h1>Portfolio Manager</h1>
  <span class="example-spacer"></span>

  <button routerLink="/create-portfolio" mat-raised-button color="warn">
    <mat-icon>input</mat-icon>
    New
  </button>

  <button routerLink="/portfolios-list" mat-raised-button color="warn">
    <mat-icon>arrow_downward</mat-icon>
    View All
  </button>
</mat-toolbar>

<div class="container mt-5">
  <router-outlet>

  </router-outlet>
</div>

<lib-ng-toast></lib-ng-toast>
<ng-confirm></ng-confirm>

